.vscode/settings.json
CS_TimedReminders_Django/__pycache__/__init__.cpython-37.pyc
.vscode/settings.json
CS_TimedReminders_Django/__pycache__/settings.cpython-37.pyc
StoredTime/__pycache__/__init__.cpython-37.pyc
StoredTime/__pycache__/admin.cpython-37.pyc
StoredTime/__pycache__/apps.cpython-37.pyc
StoredTime/__pycache__/models.cpython-37.pyc
.vscode/settings.json
db.sqlite3
CS_TimedReminders_Django/__pycache__/urls.cpython-37.pyc
CS_TimedReminders_Django/__pycache__/wsgi.cpython-37.pyc
StoredTime/__pycache__/views.cpython-37.pyc
StoredTime/migrations/__pycache__/__init__.cpython-37.pyc
StoredTime/migrations/__pycache__/0001_initial.cpython-37.pyc
.vscode/settings.json
