.top {
  display: inline-block;
  width: 100vw;
  margin-right: 2em;
}

.left {
  display: inline;
  align-items: center;

  width: 100vw;

}

#time-text {
  color: white;
  font-size: 5rem;
}

.timer {
  background: #bbbbbb;
  border-radius: 10px;
  height: 15px;
  width: 30em;
  margin: 2em;
}

#progress-bar {
    background: green;
    width: 0%;
    height: 15px;
    border-radius: 20px;

    transition: width 1s;
    transition-timing-function: linear;
    overflow: hidden;
}


.content {
}
