@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&family=Quicksand:wght@600&display=swap');

header {
    color: white;
    font-family: 'Oxygen';
}

body {
    font-family: 'Oxygen', sans-serif;
    margin: 2rem;
    background-image: linear-gradient(to top left, #003049, #0a5983);
    height: 100vh;

    animation: fadeIn ease-out 1s;
    overflow: hidden;
}

@keyframes fadeIn {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

.buttons {
    position: absolute;
    bottom: 0;
    right: 0;

    float: right;
    align-content: center;
    margin: 1em;
    padding: 1em;
    font-family: 'Oxygen', sans-serif;

}

.action-buttons {
    font-size: large;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px;
    height: 45px;
    margin: .5em;

    border: none;
    color: black;
    background-image: linear-gradient(to bottom right, #f77f00, #fcbf49);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 20px;
    outline: none;
    font-family: 'Oxygen', sans-serif;


    transition: all .1s ease-out;
    
    &:hover {
        cursor: pointer;
    }

    &:active {
        transform: scale(.9);
    }
}

@keyframes showError {
    from {
        opacity: 0%;
        left: -20px;
    }
    to {
        opacity: 100%;
        left: 15px;
    }
}

#error-messages {
    display: none;
    position: absolute;
    bottom: 15px;
    left: 15px;
    max-width: 30vw;
    max-height: 300px;

    float: left;
    align-content: center;
    margin: 1em;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    
    font-family: 'Oxygen', sans-serif;
    border-radius: 30px;
    background: red;
    opacity: 100%;
    border-color: rgb(71, 25, 25);
    border-style: solid;
    border-width: medium;
    word-wrap: true;
    animation: showError .5s ease-out;
}

#error-list {
    list-style: none;
    max-height: 200px;
    overflow-y: scroll;
}

#error-title {
    color: white;
    font-family: 'Oxygen', sans-serif;
}

#error-text {
    color: white;
    font-family: 'Oxygen', sans-serif;
}