<!DOCTYPE html>
<html>
    <head>
        <title>CS_TimedReminders Home</title>
        <link href="/css/style-universal.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">

    </head>

    <body>
        <header>
            <h1>CS_TimedReminders_django</h1>
        </header>

        
        <div class="content">
            
        </div>

        <div class="buttons">
            <button id="add-button" class="action-buttons">Add</button>
            <button id="remove-button" class="action-buttons">Remove</button>
            <button id="edit-button" class="action-buttons">Edit</button>
            <button id="start-button" class="action-buttons">Start</button>
        </div>
        
    </body>
    <script src="js/list.js"></script>
</html>