<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% load static %}
    <link rel="stylesheet" href="{% static '/style-universal.css' %}" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Add responsive title that changes to the title of the countdown-->
    <title>Countdown</title>
</head>
<body>
    <header>
        <div class="back-arrow">

        </div>
        <div class="title">
            <h1>Countdown</h1>
        </div>
    </header>
    <div class="top">
        <div class="left">
            <div class="timer">

            </div>
            <div class="up-next">

            </div>
        </div>
        <div class="right">

        </div>
    </div>
    <div class="bottom">
        <div class="buttons">
            <button class="action-buttons" id="stop-button">Stop</button>
        </div>
    </div>
</body>
</html>
