<!DOCTYPE html>
<html>

<head>
    <title>CS_TimedReminders Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/style-universal.css' %}" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

</head>

<body>
    <header>
        <h1>CS_TimedReminders_django</h1>
    </header>


    <div class="content" id="main-list">
      {% for time in object_list %}
      <li class="time-lists">
        <div class="list_text">

          <p class="list-name">Name: </p>
          <p class="list-text-content">{{ time.name }}</p>
          <br style="line-height: 200">
          <p class="list-name">Time: </p>
          <p class="list-text-content">{{ time.time_targ }}</p>

        </div>

        <div class="icons">
          {% load static %}
          <img src="{% static '/edit.png' %}" alt="edit" class="edit-icon">
          <img src="{% static '/close.png' %}" alt="delete" class="delete-icon">
        </div>
      </li>
      {% empty %}
      <p>There is nothing here! Press Add to get started.</p>
      {% endfor %}
    </div>

    <div class="buttons">
        <button id="add-button" class="action-buttons">Add</button>
        <button id="start-button" class="action-buttons">Start</button>
    </div>

</body>

</html>
